html, body{
  margin:0; padding:0; height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p a {
  color: #6995ae;
  transition: 0.5s;
}
p a:hover {
  text-decoration: underline;
}

h2 {
  font-size:25px;
}

h3 {
  font-size:23px;
}

h4 {
  font-size:21px;
}

li {
  font-size: 19px;
}

.round-img {
	border-radius: 50%;
}
.center-img {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

.main-header-col {
  background-image: url("/images/collagemain.jpg");
	background-size:     contain;
  background-repeat:   no-repeat;
  background-position: center center;
	background-attachment: local;
	height: 1100px;
  width: 100%;
}

.action-sec {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.blue-bg {
	background-color: rgba(86,131,149, 0.3);
}

.shadow-inside {
	-moz-box-shadow:     inset 0px 0px 4px rgba(0,0,0, 0.24);
  -webkit-box-shadow:  inset 0px 0px 4px rgba(0,0,0, 0.24);
  box-shadow:          inset 0px 0px 4px rgba(0,0,0, 0.24);
}

@media (min-width: 576px){
	.container-grid {
	    max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container-grid {
	    max-width: 720px;
		}
}
@media (min-width: 992px){
	.container-grid {
	    max-width: 960px;
	}
}

.container-grid {
	width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col-half {
	display: flex;
	justify-content: center; /* align horizontal */
	flex: 0 0 50%;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.img-box-home {
    background-image: url(/images/headshot.jpg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    background-size: cover;
    height: 857px;
    width: 100%;
		margin-left: 20px;
		margin-right: 15px;
}

.text-center {
	text-align: center;
}

.toast-top-right {
    top: 100px !important;
    right: 12px;
}

.navbar {
  top: 0;
  right:0;
  left:0;
  display: block;
  padding-top: 56px;
  transition: 0.3s;
}

.navbar-blog {
  top: 0;
  right:0;
  left:0;
  display: block;
  padding-top: 56px;
  background: rgba(86,131,149, 1);
  transition: 0.3s;
  color: #fff;
}

.top-nav-collapse1 {
  top: 0;
  right:0;
  left:0;
  display: block;
  padding-top: 29px;
  background: rgba(86,131,149, 0.7);
  box-shadow:	0 1px 2px rgba(0,0,0, 0.24);
}

.top-nav-collapse {
  top: 0;
  right:0;
  left:0;
  display: block;
  padding-top: 29px;
  background: rgba(255,255,255, 0.7);
  box-shadow:	0 1px 2px rgba(0,0,0, 0.24);
}
.navbar-fixed-top {
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  border-radius: 0;
}
.navbar-header {
  margin-left: 0;
  margin-right: 0;
  float: left;
  width: 255px;
  height: 112px;
  border-radius: 0 0 7px 7px;
  background: transparent;
  margin-top: -56px;
}

.navbar-headerblog {
  margin-left: 0;
  margin-right: 0;
  float: left;
  width: 255px;
  height: 112px;
  border-radius: 0 0 7px 7px;
  margin-top: -56px;
}

.navbar-brand {
  border-radius: 0 0 7px 7px;
  background-color: transparent;
  margin: 1em 0;
}

.navbar-brandblog {
  border-radius: 0 0 7px 7px;
  margin: 1em 0;
}
.navbar-brandblog img {
  padding-left: 26px;
  margin-top: 18%;
}

.navbar-brand img {
  padding-left: 26px;
  margin-top: 14%;
}

.navblog {
  max-width: 690px;
  margin: 0;
  float: right;
  list-style: none;
  padding-left:0;
}

.navblog li {
  float: right;
  position: relative;
  display: block;
	font-weight: 400;
  padding-right: 10px;
  padding-left:10px;
}
.navblog li a{
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    word-spacing: 0.5px;
    text-decoration: none;
}

.nav {
  max-width: 690px;
  margin: 0;
  float: right;
  list-style: none;
  padding-left:0;
}

.nav li {
  float: right;
  position: relative;
  display: block;
	font-weight: 400;
  padding-right: 10px;
  padding-left:10px;
}
.nav li a{
    font-family: "Roboto", sans-serif;
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    word-spacing: 0.5px;
    text-decoration: none;
}
.fa-social {
  font-size: 20px;
  word-spacing:0.5px;
  color: #69ae96;
}
.fa-socialblog {
  font-size: 20px;
  word-spacing: 0.5px;
  color: #fff;
}
.nav .active a {
  border-bottom: 2px solid #568395;
}

.form-h1 {
    text-align: center;
    color: #568395;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 46px;
    margin-bottom: 0px;
}

.form-h2 {
    text-align: center;
    color: #568395;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
}

.bottom-hover:after {
  display:block;
  content: '';
  border-bottom: 2px solid #568395;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
.bottom-hover:hover:after { transform: scaleX(1); }

.navblog .active a {
  border-bottom: 2px solid #fff;
}

.bottom-hoverblog:after {
  display:block;
  content: '';
  border-bottom: 2px solid #fff;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
.bottom-hoverblog:hover:after { transform: scaleX(1); }


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 920px){
  .container {
      width: 1170px;
	  height: auto;
  }
}

.container-sm {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}
@media (min-width: 1170px){
  .container-sm {
      width: 980px;

  }
}

.container-esm {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1170px){
  .container-esm {
      width: 380px;

  }
}

.main-header {
  background-image: url("https://omdarling.com/images/mainheader.jpg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.intro-text {
  padding-top: 210px;
  padding-bottom: 780px;
  margin-left: 57%;
}
.intro-l {
display: block;
color: #ffffff;
font-family: 'Roboto', sans-serif;
font-size: 94px;
line-height: 100px;
font-weight: 700;
text-transform: uppercase;
margin:0;
padding:0;
}

hr {
    display: block;
    height: 7px;
    border: 0;
    border-top: 7px solid #fff;
}

.intro-sm {
color: #ffffff;
font-family: 'Roboto', sans-serif;
font-size: 40px;
line-height: 40px;
font-weight: 700;
text-transform: uppercase;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}

.bg-white {
  width: 53%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
  height: 1080px;
}
.bg-image {
  width:47%;
  background-image: url("/images/mainblock2.jpg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
  height: 1080px;
}/* Style for "About me" */

.block-text-l {
  color: #568395;
  font-family: 'Roboto';
  font-size: 100px;
  line-height: 100px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  white-space: nowrap;
}

.container-left-half {
  padding-top: 74px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  float: right;
}
@media (min-width: 1170px){
  .container-left-half {
    width: 492px;
    padding-right: 69px;
  }
}

.container-right-half {
  padding-top: 45px;
  margin-right: auto;
}
@media (min-width: 1170px){
  .container-right-half {
      width: 492px;
  }
}

.block-text-3 h2 {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  line-height: 47px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 69px;
}
.quotes {
  margin-left: -26px;
}

hr.style-blue {
    display: block;
    height: 5px;
    border: 0;
    border-top: 5px solid #568395;
    width: 492px;
    margin-right: 69px;
}

.text-box {
  display: block;
  width: 496px;
  font-size: 25px;
  font-weight: 300;
  text-align: justify;
}


.block3 {
  background-image: url("/images/mainblock3.jpg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
  height: 1080px;
  width: 100%;
}

.col-block3 {
    width: 53%;
    height: 1080px;
}

.text-box-2 h2 {
  margin-top: 45px;
  display: block;
  width: auto;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right -3px;
}

hr.style-white {
  display: block;
  height: 5px;
  border: 0;
  border-top: 5px solid #fff;
  width: 474px;
  margin-top: 84px;

}

.text-box-3 {
  margin-top: 100px;
  display: block;
  width: 496px;
  font-weight: 300;
  color: #fff;
  font-size: 25px;
  padding-left: 22px;
  text-align: justify;
}

.img-box2 {
  background-image: url("/images/mainblock3-2.png");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
  height: 507px;
  width: 540px;
  margin-top: 24px;
  margin-left: -22px;
}

.block4 {
  background-color: #fff;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
  height: 730px;
  width: 100%;
}

.col-53 {
  width: 53%;
}
.col-47 {
  width: 47%;
}
.img-box {
  background-image: url("/images/mainblock4.png");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
  height: 857px;
  width: 540px;
  margin-top: -280px;
  margin-left: -22px;
  position: absolute;
}

.block-text-4 {
  color: #000;
  font-size: 25px;
  line-height: 27px;
  padding-left: 69px;
  margin-top: 45px;
  width: 417px;
  text-align: justify;
}

.block-text-4-l h2{
  color: #568395;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 69px;
  margin-top: 46px;
  width: 350px;
}

hr.style-block4 {
  display: block;
  border: 0;
  border-top: 2px solid #33454d;
  width: 417px;
  margin-top: 45px;
  margin-left: 69px;
}

.profile {
  text-align: center;
  width: 643px;
  height: 371px;
}

.mg-bot {
  margin-bottom: 58px;
}

.mg-top {
  margin-top: 76px;
}

hr.style-block5 {
  display: block;
  border: 0;
  border-top: 4px solid #d7d7d7;
  width: 417px;
}

.related {
  text-align:center;
  color: #568395;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 46px;
  margin-bottom: 0px;
}

hr.small-grey {
  margin: 30px 0 30px 0;
  border: 0;
  border-top: 1px solid #d9dce1;
  width: auto;
}

.blocks-3-2 {
  display: table;
  margin-top: 42px;
  margin-bottom: 42px;
  height: 560px;
}

.blocks-3 {
  display: table-cell;
  float:left;
  margin-right: 20px;
}

.blocks-3-text {
    width: 298px;
}

.blocks-3 img{
  object-fit: cover;
  width: 298px;
  height: 298px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;

}

.grid-item img{
    object-fit: cover;
    width: 350px;
    height: 350px;
    transition: .5s all;
  }

  .home {
    display: block;
    position: relative;
    height: 350px;
    width:350px;
  }

.home:hover .caption {
    opacity: 1;
  }

  .the-btn:hover {
      background-color: #fff;
      color: #568395;
    }

.home .caption {
  opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.home .the-btn {
  font-weight: 300;
  border: 1px solid #fff;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1px;
	display: inline-block;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 13px;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.title-home {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin:0px;
  transition: 0.5s;
}

.title-home:hover {
  color:#69ae96;
}


.top-right {
  position: absolute;
  z-index: 10;
  top: 8px;
  right: 0px;
  height: 12px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  background-color: #6995ae;
  font-size: 9px;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

.three-blocks {
  height:298px;
}

.related-block {
  float:left;
  width: 34%;

}
.block-70 {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 66%;
  float:right;
}

.related-block img{
  object-fit: cover;
  width: 298px;
  height: 298px;
}
.date {
  color: #6995ae;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 10px;
}

p {
  margin: 0;
}
h3.title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  margin:0px;
}

.excerpt {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  margin-top:5px;
  margin-bottom: 15px;

}

.see-more {
  padding: 7px 17px;
  background-color: #69ae96;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  transition: 0.5s;
}

.see-more:hover {
  color:#69ae96;
  background-color: #fff;
  border: 1px solid #69ae96;
  border-radius: 4px;
}

.mg-top-92 {
  margin-top: 92px;
  margin-bottom: 76px;
}

.email {
  width: 50%;
  float:left;
  max-width: 478px;
  height: 125px;
  color: #568395;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 14px;
}

.input {
  max-width: 478px;
  height: 125px;
  width: 50%;
  float: left;
  padding-top: 40px;
  padding-left: 10px;
}
.input input {
   width: 248px;
   border: 1px solid #000;
   border-radius: 4px;
   padding: 7.5px 7.5px;
   font-size: 20px;
   font-weight: 300;
 }
 .input input:hover:active {
   border: 1px solid #568395;
   border-radius: 4px;
 }

 .contact-form {
   text-align: center;
   margin-top: 40px;
   padding: 40px !important;
   border: 2px solid #568395;
   border-radius: 4px;
   margin-left:auto;
   margin-right:auto;
   background-color: #568395;
   -webkit-box-shadow: 0 9px 30px -6px #8c92ac;
   box-shadow: 0 9px 30px -6px #8c92ac;
 }


 .contact-form input {
   margin:10px;
   width: 248px;
   border: 1px solid #568395;
   border-radius: 4px;
   padding: 7.5px 7.5px;
   font-size: 20px;
   font-weight: 300;
 }

 .contact-form input:focus::-webkit-input-placeholder  {
   color:transparent;
 }

 .contact-form input::-webkit-input-placeholder  {
   font-size: 16px;
 }

.form-label {
  display:block;
  margin: 15px 8px 0;
  font-size: 18px;
  font-weight: 300;
  color: #000;
}

.contact-form-btn {
  background-color: #69ae96;
  color: #fff;
 font-size: 20px;
 font-weight: 300;
 padding:5px 25px 8px 25px;
  border: 0px solid #568395;
  border-radius: 4px;
  margin-top: 15px;
  transition: 0.5s;
}
.contact-form-btn:hover {
  background-color: #fff;
  color: #568395;
  border: 0px solid #568395;
  border-radius: 4px;
  cursor: pointer;
}

 .input input {
    width: 248px;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 7.5px 7.5px;
    font-size: 20px;
    font-weight: 300;
  }
  .input input:hover:active {
    border: 1px solid #568395;
    border-radius: 4px;
  }

 .subscribe {
   background-color: #568395;
   color: #fff;
  font-size: 25px;
  font-weight: 300;
  padding:5px 25px 8px 25px;
   border: 1px solid #568395;
   border-radius: 4px;
   margin-left: 10px;
   transition: 0.5s;
 }
 button.subscribe:hover {
   background-color: #fff;
   color: #568395;
   border: 1px solid #568395;
   border-radius: 4px;
   cursor: pointer;
 }

/* Style for "Categories views" */

.about h2{
  margin-top: 149px;
  margin-bottom: 0px;
  color: #767676;
  font-size: 40px;
  font-weight: 400;
  text-align: center;

}

a{
  text-decoration: none;
}

.category{
  text-align:center;
  align: center;
}
.category h1{
  display:inline;
  color: #69ae96;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  margin:0;
  padding: 0 30px 0 30px;
}

hr.category-style {
  display:inline;
  border: 0;
  border-top: 5px solid #69ae96;
  width: 100%;
  margin-left:0;
}

.category-intro {
  margin-left: 80.5px;
  margin-right: 80.5px;
  width: 819px;
  height: 67px;
}

.category-intro p {
color: #4a4a4a;
font-family: Roboto;
font-size: 20px;
font-weight: 300;
}
 .blocks {
   height: auto;
 }

.pag {
  text-align:center;
}
 .pagination {
   display: inline-block;
   padding-left: 0;
   margin: 20px 0;
 }
 .pagination > li {
   display: inline;
 }
 .pagination > li > a,
 .pagination > li > span {
   position: relative;
   float: left;
   padding: 6px 12px;
   margin-left: -1px;
   margin-right: 6px;
   color: #6995ae;
   text-decoration: none;
   background-color: #fff;
   font-size: 20px;
 }
 .pagination > li:first-child > a,
 .pagination > li:first-child > span {
   margin-left: 0;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
 }
 .pagination > li:last-child > a,
 .pagination > li:last-child > span {
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
 }
 .pagination > li > a:hover,
 .pagination > li > span:hover,
 .pagination > li > a:focus,
 .pagination > li > span:focus {
   z-index: 2;
   color: #fff;
   border-color: #ddd;
   background-color: #6995ae;
   border-radius: 50%;
 }
 .pagination > .active > a,
 .pagination > .active > span,
 .pagination > .active > a:hover,
 .pagination > .active > span:hover,
 .pagination > .active > a:focus,
 .pagination > .active > span:focus {
   z-index: 3;
   color: #fff;
   cursor: default;
   background-color: #6995ae;
   border-radius: 50%;
 }
 .pagination > .disabled > span,
 .pagination > .disabled > span:hover,
 .pagination > .disabled > span:focus,
 .pagination > .disabled > a,
 .pagination > .disabled > a:hover,
 .pagination > .disabled > a:focus {
   color: #777;
   cursor: not-allowed;
   background-color: #fff;
   border-color: #ddd;
 }

/* Style for "Single Blog Post" */
.fa-back {
  color: #69ae96;
  font-size: 22px;

}

.back {
  margin-top: 148px;
  color: #6995ae;
  font-size: 22px;
  cursor: pointer;
}

article {
  margin-top: 44px;
  margin-bottom: 56px;
}


.title {
  margin-top: 28px;
  margin-bottom: 27px;
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.excerpt2 {
color: #000000;
font-size: 25px;
font-weight: 400;
margin:0;
}

.col-md-60 {
  width: 55%;
  float:left;
}

.col-md-40 {
  width: 45%;
  float: left;
}

.post-img img {
  object-fit: cover;
  height:418px;
  max-width: 418px;
  margin-left: 20px;
  margin-right: 0;
  margin-top: 59px;
}

hr.style-post {
  display: block;
  border: 0;
  border-top: 3px solid #69ae96;
  width: 980px;
}

.row {

}

.main-post {
  margin-top: 46px;
}

.main-post p span{
  font-family: 'Nunito Sans', sans-serif !important;
  color: #000000 !important;
  font-size: 19px !important;
  line-height: 22px !important;
  font-weight: 300;
}

.main-post p {
  font-family: 'Nunito Sans', sans-serif !important;
  color: #000000 !important;
  font-size: 19px !important;
  line-height: 22px !important;
  font-weight: 300;
}

.main-post li p{
  font-family: 'Nunito Sans', sans-serif !important;
  color: #000000 !important;
  font-size: 19px !important;
  line-height: 22px !important;
  font-weight: 300;
}

.main-post ul li span{
  text-align: justify !important;
  font-family: 'Nunito Sans', sans-serif !important;
  color: #000000 !important;
  font-size: 19px !important;
  line-height: 22px !important;
}

.main-post ul li strong{
  text-align: justify !important;
  font-family: 'Nunito Sans', sans-serif !important;
  color: #000000 !important;
  font-size: 19px !important;
  line-height: 22px !important;
  font-weight: 700;
}

.main-post img{
  margin: 10px;
}

.share {
margin-top:52px;
text-align:center;
color: #568395;
font-family: Roboto;
font-size: 21px;
font-weight: 300;
word-spacing: 3px;
}

.fa-shares {
  color: #69ae96;
  font-size: 27px;
  transition: 0.5s;
}

.fa-shares:hover {
  color: #568395;

}

.comments {
  box-sizing: border-box;

  text-align:center !important;
}


hr.comment-style {
  display: block;
  border: 0;
  border-top: 2px solid #e0e1ea;
  width: 616px;
}

input.comment-name {
  height: 47px;
  text-align: center;
  display: block;
  width: 218px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #6995ae;
  color: #568395;
}

::placeholder {
  color: #568395;
}

input.comment-email {
  text-align: center;
  display: block;
  height: 47px;
  width: 218px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #6995ae;

}
textarea.comment{
  padding-top: 15px;
  padding-left: 10px;
  display: block;
  height: 58px;
  width: 615px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #6995ae;
  color: #568395;
}

.btn-comment {
  background-color: #69ae96;
  width: 120px;
  height: 34px;
  border-radius: 3px;
  border: 1px solid #69ae96;
  transition: 0.5s;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-comment:hover {
  background-color: #fff;
  color:#69ae96;
  border-radius: 3px;
  border: 1px solid #69ae96;
}

hr.style-comment {
  display: block;
  width: 629px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-top: 2px solid #d7d7d7;
}

.comment-dialog {
  margin-top: 30px;
  width: 615px;
  margin-left: auto;
  margin-right: auto;
}

.username {
  font-weight: 500;
  font-size: 16px;
  display:inline;
}

.smallp {
  margin-left: 5px;
  display: inline;
  font-size: 12px;
  color: #69ae96;
}
.text {
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
}
/* Follow */
.follow {
margin-top: 75px;
  text-align: center;
    /* Style for "follow me" */
  color: #568395;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  }
.follow-c {
  margin-bottom: 50px;
  margin-top: 15px;
  text-align: center;
  color: #000000;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 300;
  text-decoration: underline;
}


.insta {
  height: 500px;
  object-fit: cover;
  float:left;
  width: 25%;
}

.tag {
  font-size: 14px;
  padding:2px 7px 2px 7px;
  background-color: #d9f6fe;
  color: #85a1b1;
  border-radius: 3px;
  margin-right: 7px;
}

.tags {
  font-size: 18px;
  background-color:none;
  color: grey;
  margin-right: 10px;
  font-weight: 500;
}
