html, body{
  margin:0; padding:0; height: 100%;
  width: 100%;
}
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.nav {
  display: block;
  list-style-type: disc;
  display: block;
list-style-type: disc;
margin:0;
-webkit-padding-before: 1em;
-webkit-padding-after: 1em;
-webkit-padding-start: 0px;
-webkit-padding-end: 0px;
-webkit-padding-start: 25px;
}

.fa-menu {
  font-size: 30px;
    line-height: 26px;
    float:right;
    padding-right: 25px;
    padding-top: 5px;
    color: #568395;
}

.logo img {
  padding-top: 7px;
}

li{
  list-style: none;
  padding-right: 25px;
  padding-top: 3px;
  display: none;
}

li a {
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  word-spacing: 0.5px;
  text-decoration: none;
}

.mainnav{
  background: #fff;
}

.bottom-hover:after {
  display:block;
  content: '';
  border-bottom: 2px solid #568395;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
.bottom-hover:hover:after { transform: scaleX(1); }

.nav .active a {
  border-bottom: 2px solid #568395;
}

.bottom-hoverblog:after {
  display:block;
  content: '';
  border-bottom: 2px solid #fff;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
.bottom-hoverblog:hover:after { transform: scaleX(1); }
