html, body{
  margin:0; padding:0; height: 100%;
  width: 100%;
}
html {
  overflow: hidden;
}
body {
  font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
}

a {
  text-decoration: none;
}

a {
    word-wrap: break-word;
}
p a {
  color: #6995ae;
}
/*Navigation*/
.nav {
  display: block;
  list-style-type: disc;
  display: block;
list-style-type: disc;
margin:0;
-webkit-padding-before: 1em;
-webkit-padding-after: 1em;
-webkit-padding-start: 0px;
-webkit-padding-end: 0px;
-webkit-padding-start: 25px;
}

.fa-menublog {
  font-size: 30px;
    line-height: 26px;
    float:right;
    padding-right: 25px;
    padding-top: 5px;
    color: #fff;
}

.fa-menu {
  font-size: 30px;
    line-height: 26px;
    float:right;
    padding-right: 25px;
    padding-top: 5px;
    color: #568395;
}

.logo img {
  padding-top: 7px;
}

.mainnav li{
  list-style: none;
  padding-right: 25px;
  padding-top: 3px;
  display: none;
}

.mainnavblog li{
  list-style: none;
  padding-right: 25px;
  padding-top: 3px;
  display: none;
}

li a {
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  word-spacing: 0.5px;
  text-decoration: none;
}

.mainnavblog li a {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  word-spacing: 0.5px;
  text-decoration: none;
}

.mainnavblog {
  background-color: #568395;
}
.mainnav{
  background: #fff;
}

.bottom-hover:after {
  display:block;
  content: '';
  border-bottom: 2px solid #568395;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
.bottom-hover:hover:after { transform: scaleX(1); }

.nav .active a {
  border-bottom: 2px solid #568395;
}

.bottom-hoverblog:after {
  display:block;
  content: '';
  border-bottom: 2px solid #fff;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
.bottom-hoverblog:hover:after { transform: scaleX(1); }

.container {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

/* Header */
.main-header {
  background-image: url("https://omdarling.com/images/mobile/mainheader.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.intro-text {
  padding-top: 450px;
}
.intro-l {
display: block;
color: #ffffff;
font-family: 'Roboto', sans-serif;
font-size: 50px;
line-height: 55px;
font-weight: 500;
text-transform: uppercase;
margin:0;
padding:0;
}

hr {
    border: 0;
    border-top: 4px solid #fff;
    width: 249px;
}

.intro-sm {
color: #ffffff;
font-family: 'Roboto', sans-serif;
font-size: 25px;
font-weight: 500;
text-transform: uppercase;
}

/* About me */
.block-text-l {
  color: #568395;
  font-family: 'Roboto';
  font-size:45px;
  font-weight: 700;
  margin-top: 20px;
  text-transform: uppercase;
  white-space: nowrap;
}
hr.style-blue {
    display: block;
    height: 5px;
    border: 0;
    border-top: 4px solid #568395;
    width: 223px;
    float: left;
    margin-right: 69px;
    margin-right: 100%;
}

.text-box {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: justify;
}

.mg-b-20 {
  margin-bottom:20px;
}

/* Style for "Yoga-studio" */
.block-text-3 h2 {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  font-weight: 700;
  padding-top: 25px;
  margin-left: 26px;
  text-transform: uppercase;
}

.quotes {
  margin-left: -26px;
}

.bg-image {
  background-image: url("https://omdarling.com/images/mobile/mainblock2.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  width:100%;
  height:100%;
}

/* Violet */
.block3 {
  background-image: url("https://omdarling.com/images/mobile/mainblock3.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  width:100%;
  height:100%;
}

.text-box-2 h2 {
  padding-top: 20px;
  display: block;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 27px;
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  margin:0;
}

/* I just wanted to show you */
.img-box {
  background-image: url("https://omdarling.com/images/mobile/mainblock4.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.text-box-3 {
  padding-top: 20px;
  display: block;
  font-family: 'Roboto';
  font-weight: 300;
  color: #000;
  font-size: 22px;
  text-align: justify;
}

/* life is all */
.block-text-4-l h2{
  padding-top: 20px;
  color: #568395;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
hr.style-4 {
  display: block;
  border: 0;
  border-top: 2px solid #33454d;
  float:left;
  width:100%;
  margin-top:20px;
}

.block-text-4 {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 45px;
  text-align: justify;
}

/* profile*/
hr.style-block5 {
  display: block;
  border: 0;
  border-top: 4px solid #d7d7d7;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-pic {
  text-align: center;
}

/* related */
.related {
text-align:center;
color: #568395;
font-family: 'Roboto', sans-serif;
font-size: 35px;
font-weight: 700;
text-transform: uppercase;
margin-top: 40px;
margin-bottom: 40px;
}

.blocks-3 {
  max-height: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.blocks-3 img{
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.date {
  color: #6995ae;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 10px;
}
h3.title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  margin:0px;
}

.see-more {
  padding: 7px 17px;
  background-color: #69ae96;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  transition: 0.5s;
}

.see-more:hover {
  color:#69ae96;
  background-color: #fff;
  border: 1px solid #69ae96;
  border-radius: 4px;
}

.excerpt {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  margin-top:5px;
  margin-bottom: 15px;

}

.email {
  text-align:center;
  color: #568395;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.mg-top-60 {
  margin-top: 60px;
}

.input {
  text-align: center;
  margin-top: 30px;
}
.input input {
  text-align: center;
   width: 248px;
   border: 1px solid #000;
   border-radius: 4px;
   padding: 7.5px 7.5px;
   font-size: 20px;
   font-weight: 300;
 }
 .input input:hover:active {
   border: 1px solid #568395;
   border-radius: 4px;
 }
 .subscribe {
   background-color: #568395;
   color: #fff;
  font-size: 25px;
  font-weight: 300;
  padding:5px 25px 8px 25px;
   border: 1px;
   border-radius: 4px;
   transition: 0.5s;
   margin-top: 30px;
   margin-bottom: 30px;
 }
 button.subscribe:hover {
   background-color: #fff;
   color: #568395;
   border: 1px solid #568395;
   border-radius: 4px;
   cursor: pointer;
 }

/* Instagram */
 .insta {
    height: 200px;
   object-fit: cover;
   float:left;
   width: 50%;
 }

 .follow {
   margin-top: 10px;
   text-align: center;
     /* Style for "follow me" */
   color: #568395;
   font-size: 40px;
   font-weight: 300;
   text-transform: uppercase;
   }
 .follow-c {
   margin-bottom: 20px;
   margin-top: 10px;
   text-align: center;
   color: #000000;
   font-size: 25px;
   font-weight: 300;
   text-decoration: underline;
 }

/* Category blog View */

.about h2{
  margin-top: 20px;
  color: #000;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.category{
  text-align:center;
  align: center;
}
.category h1{
  display:inline-block;
  color: #69ae96;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin:0;
}

hr.category-style {
  display:inline-block;
  border: 0;
  border-top: 4px solid #69ae96;
  width: 40px;
  margin-left:0;
  margin-right:0;
}

.category-intro p {
color: #4a4a4a;
font-family: Roboto;
font-size: 20px;
font-weight: 300;
text-align: justify;
}

/* Pagination*/
.pag {
  text-align:center;
}
 .pagination {
   display: inline-block;
   padding-left: 0;
   margin: 20px 0;
 }
 .pagination > li {
   display: inline;
 }
 .pagination > li > a,
 .pagination > li > span {
   position: relative;
   float: left;
   padding: 6px 12px;
   margin-left: -1px;
   margin-right: 6px;
   color: #6995ae;
   text-decoration: none;
   background-color: #fff;
   font-size: 20px;
 }
 .pagination > li:first-child > a,
 .pagination > li:first-child > span {
   margin-left: 0;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
 }
 .pagination > li:last-child > a,
 .pagination > li:last-child > span {
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
 }
 .pagination > li > a:hover,
 .pagination > li > span:hover,
 .pagination > li > a:focus,
 .pagination > li > span:focus {
   z-index: 2;
   color: #fff;
   border-color: #ddd;
   background-color: #6995ae;
   border-radius: 50%;
 }
 .pagination > .active > a,
 .pagination > .active > span,
 .pagination > .active > a:hover,
 .pagination > .active > span:hover,
 .pagination > .active > a:focus,
 .pagination > .active > span:focus {
   z-index: 3;
   color: #fff;
   cursor: default;
   background-color: #6995ae;
   border-radius: 50%;
 }
 .pagination > .disabled > span,
 .pagination > .disabled > span:hover,
 .pagination > .disabled > span:focus,
 .pagination > .disabled > a,
 .pagination > .disabled > a:hover,
 .pagination > .disabled > a:focus {
   color: #777;
   cursor: not-allowed;
   background-color: #fff;
   border-color: #ddd;
 }

/* Single Post View */
.back {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #6995ae;
  font-size: 22px;
  cursor: pointer;
}

.title {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #000000;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 500;
  text-transform: uppercase;
}


.excerpt2 {
color: #000000;
font-family: Roboto;
font-size: 25px;
font-weight: 400;
margin-bottom: 20px;
text-align: justify;

}
.post-img {
  width: auto;
}

.post-img img {
  object-fit: cover;
  max-width:100%;
  max-height:100%;

}


.main-post {
  margin-top: 20px;
}

.main-post p  {
  text-align: justify !important;
}

.main-post p span{
  text-align: justify !important;
  font-family: 'Nunito Sans', sans-serif !important;
  color: #000000 !important;
  font-size: 19px !important;
  line-height: 22px !important;
  font-weight: 300;
}

.main-post p {
  text-align: justify !important;
  font-family: 'Nunito Sans', sans-serif !important;
  color: #000000 !important;
  font-size: 19px !important;
  line-height: 22px !important;
  font-weight: 300;
}

.main-post li p{
  text-align: justify !important;
  font-family: 'Nunito Sans', sans-serif !important;
  color: #000000 !important;
  font-size: 19px !important;
  line-height: 22px !important;
  font-weight: 300;
}

.main-post ul li span{
  text-align: justify !important;
  font-family: 'Nunito Sans', sans-serif !important;
  color: #000000 !important;
  font-size: 19px !important;
  line-height: 22px !important;
}

.main-post ul li strong{
  text-align: justify !important;
  font-family: 'Nunito Sans', sans-serif !important;
  color: #000000 !important;
  font-size: 19px !important;
  line-height: 22px !important;
  font-weight: 700;
}

.main-post img{
  margin: 10px;
}

/* Share */
.share {
margin-top:30px;
text-align:center;
color: #568395;
font-family: Roboto;
font-size: 21px;
font-weight: 300;
word-spacing: 3px;
}

.fa-shares {
  color: #69ae96;
  font-size: 27px;
  transition: 0.5s;
}

.fa-shares:hover {
  color: #568395;

}

/* Comments */
.comments {
  box-sizing: border-box;

  text-align:center !important;
}


hr.comment-style {
  display: block;
  border: 0;
  border-top: 2px solid #e0e1ea;
  width: 616px;
}

input.comment-name {
  height: 47px;
  text-align: center;
  display: block;
  width: 218px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #6995ae;
  color: #568395;
}

::placeholder {
  color: #568395;
}

input.comment-email {
  text-align: center;
  display: block;
  height: 47px;
  width: 218px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #6995ae;

}
textarea.comment{
  padding-top: 15px;
  display: block;
  height: 58px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #6995ae;
  color: #568395;
}

.btn-comment {
  background-color: #69ae96;
  width: 120px;
  height: 34px;
  border-radius: 3px;
  border: 1px solid #69ae96;
  transition: 0.5s;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-comment:hover {
  background-color: #fff;
  color:#69ae96;
  border-radius: 3px;
  border: 1px solid #69ae96;
}

hr.style-comment {
  display: block;
  width: 100%;
  margin-top: 20px;
  border: 0;
  border-top: 2px solid #d7d7d7;
}

.comment-dialog {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.username {
  font-weight: 500;
  font-size: 16px;
  display:inline;
}

.smallp {
  margin-left: 5px;
  display: inline;
  font-size: 12px;
  color: #69ae96;
}
.text {
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  width:100%;
}

.tag {
  font-size: 14px;
  padding:2px 7px 2px 7px;
  background-color: #d9f6fe;
  color: #85a1b1;
  border-radius: 3px;
  margin-right: 7px;
}

.tags {
  font-size: 18px;
  background-color:none;
  color: grey;
  margin-right: 10px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.title-home {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin:0px;
  transition: 0.5s;
}

.home {
  display: block;
  position: relative;
  height: auto;
}

.home:hover .caption, .home:active .capiton  {
  opacity: 1;
}

.the-btn:hover, .the-btn:active {
    background-color: #fff;
    color: #568395;
  }

.home .caption {
opacity: 0;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.6);
color: #fff;
-moz-transition: all 0.4s ease-in-out 0s;
-webkit-transition: all 0.4s ease-in-out 0s;
-ms-transition: all 0.4s ease-in-out 0s;
transition: all 0.4s ease-in-out 0s;
}

.home .the-btn {
font-weight: 300;
border: 1px solid #fff;
border-radius: 4px;
text-align: center;
font-size: 14px;
line-height: 1;
letter-spacing: 1px;
display: inline-block;
padding-top: 7px;
padding-bottom: 6px;
padding-left: 13px;
padding-right: 13px;
position: absolute;
top: 50%;
left: 50%;
-moz-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
-webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.top-right {
  position: absolute;
  z-index: 10;
  top: 8px;
  right: 0px;
  height: 12px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  background-color: #6995ae;
  font-size: 9px;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

p img {
  width: 100%;
  height:auto;
}
